<html>
  <head>
    <title>Static Website</title>


<style>
  body {
    background-color:black;
    color:white;
  }
  h1 {
    text-align: center;
  }
  h2 {
    color: maroon;
    text-align: center;
  }
  
  .photo{
    margin-top: 50px;
    margin-left: 370px;
    margin-right: 100px;
  }
  .photo img{
    width: fit-content;
    height: fit-content;
  }

 
</style>


</head>
<body>
  <h1>IMAGES</h1>
  <h2>Welcome to Home-Page</h2>

<div class='photo'>
    <img
        src='https://images.pexels.com/photos/531880/pexels-photo-531880.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260' />    
</div>
<div class='photo'>
    <img
        src='https://images.pexels.com/photos/4008141/pexels-photo-4008141.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260' />
</div>
<div class='photo'>
    <img
        src='https://images.pexels.com/photos/945693/pexels-photo-945693.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260' />
</div>
<div class='photo'>
    <img
        src='https://images.pexels.com/photos/1089458/pexels-photo-1089458.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260' />
</div>
<div class='photo'>
    <img
        src='https://images.pexels.com/photos/531880/pexels-photo-531880.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260' />      
</div>
<div class='photo'>
    <img
        src='https://images.pexels.com/photos/4008141/pexels-photo-4008141.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260' />
</div>
<div class='photo'>
    <img
        src='https://images.pexels.com/photos/945693/pexels-photo-945693.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260' />
    </div>
<div class='photo'>
    <img
        src='https://images.pexels.com/photos/1089458/pexels-photo-1089458.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260' />
</div>
</body>
<footer> 
    <h2> Thanks for visiting site</h2>
</footer>
</html>