<html>
<head>
<title>Static Website</title>
<style>
  body {
    background-color:black;
    color:white;
  }
  h1 {
    text-align: center;
  }   
  h2 {
    color: maroon;
    text-align: center;
  }
  
  .photo{
    margin-top: 50px;
    margin-left: 370px;
    margin-right: 100px;
  }
</style>
</head>
<body>
  <h1>START</h1>
  <h2 style>Welcome to Webpage</h2>
<div class='photo'>
  <img
    src='https://images.pexels.com/photos/531880/pexels-photo-531880.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260' />
</div>
</body>
<footer> 
  <h2> Thanks for visiting site</h2>
</footer>
</html>